.footer {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
  color: #023020;
}

.columns {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.column {
  margin: 0 20px;
}

.column h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color:black;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 8px;
}

.column a {
  text-decoration: none;
  color: #4a4a4a;
}

.newsletter {
  max-width: 300px;
}

.newsletter h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color:black;
}

.inputGroup {
  display: flex;
}

.inputGroup input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.inputGroup button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-left: 0;
  background-color: #0070f3;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
