.login_container{
  margin: 200px;
}

.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-input:focus {
    border-color: #0070f3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.login-button {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #005bb5;
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.3);
}

.login_title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-form {
        padding: 15px;
    }

    .login-input, .login-button {
        width: calc(100% - 30px);
    }
}


.login-container {
    background-color: #01588c;
    background-image: linear-gradient(283deg, #01588c 0%, #044a33 100%);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-section {
    text-align: center;
  }
  
  .loginTitle{
    color:white
  }